/* --- WELCOME SCREEN OVERLAY --- */
.welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121626;
    z-index: 10000;
    /* Highest z-index */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.8s ease, transform 0.8s ease;
    perspective: 1500px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(1.1);
    /* Zoom out effect on exit */
}